{ "dataElementCategoryOption":
  {
    "id":  "${dataElementCategoryOption.id}" ,
    "uid":  "${dataElementCategoryOption.uid}" ,
    "name": "$!encoder.jsonEncode( ${dataElementCategoryOption.name} )",
    "startDate": "$!format.formatDate( ${dataElementCategoryOption.startDate} )",
    "endDate": "$!format.formatDate( ${dataElementCategoryOption.endDate} )",
	"concept": "$!encoder.jsonEncode(${dataElementCategoryOption.concept.name})"
  }
}
