#set( $size = $programs.size() )
{ 
	"programs": [
		#foreach( $program in $programs )
		  {
			"id"  : ${program.id} ,
			"uid" : "${program.uid}" ,
			"name": "$!encoder.jsonEncode( ${program.name} )",
			"type": "$program.type"
		  }#if( $velocityCount < $size ),#end
		#end]
}