<script type="text/javascript">
jQuery(document).ready(function()
{
	selectionTreeSelection.setMultipleSelectionAllowed(true);
	selectionTree.clearSelectedOrganisationUnits();
	selectionTree.buildSelectionTree();
});
</script>

<div id="selectionTree"></div>
